/* line 11, ../sass/main.scss */
.text-light {
  color: #feef99;
}

/* line 15, ../sass/main.scss */
html {
  overflow-y: scroll;
  background: #393939 url("../img/bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 24, ../sass/main.scss */
body {
  background-color: transparent;
}

/* line 28, ../sass/main.scss */
.navbar-inverse .navbar-text {
  color: #b0b0b0;
}

/* line 32, ../sass/main.scss */
#content-zone {
  display: block;
  position: absolute;
  top: 52px;
  bottom: 0;
  padding: 30px;
}

/* line 41, ../sass/main.scss */
#main-content {
  background: #393939;
}

/* line 45, ../sass/main.scss */
#lg_panel {
  opacity: 0;
  color: #393939;
  display: block;
  margin: 70px auto;
  width: 350px;
}

/* line 52, ../sass/main.scss */
#lg_panel.ng-show {
  opacity: 1;
}

/* line 54, ../sass/main.scss */
.navbar li li a:hover {
  color: white;
  background-color: #3597C8;
}

/* line 59, ../sass/main.scss */
.margin-bottom {
  margin-bottom: 30px;
}

/* line 64, ../sass/main.scss */
a:hover, a:focus,
.section-footer a:hover, .section-footer a:focus {
  text-decoration: none;
}

/* line 68, ../sass/main.scss */
hr {
  width: 100%;
}

/* line 70, ../sass/main.scss */
.text-grey {
  color: grey;
}

/* line 74, ../sass/main.scss */
.section-footer {
  position: relative;
  padding: 0 10px;
}
/* line 77, ../sass/main.scss */
.section-footer span {
  font-size: 90%;
}

/* line 80, ../sass/main.scss */
.my-tables {
  margin-top: 20px;
}
/* line 81, ../sass/main.scss */
.my-tables td {
  overflow: hidden;
}

/* line 85, ../sass/main.scss */
table.table {
  background: white;
}

/* line 89, ../sass/main.scss */
.list-edit {
  display: inline-table;
  margin-left: 5px;
  vertical-align: middle;
}

/* line 96, ../sass/main.scss */
.section-edit input,
.section-edit select {
  display: inline;
  width: 40%;
  max-width: 120px;
}

/* line 102, ../sass/main.scss */
#dollor-sign {
  left: -58%;
  position: relative;
  top: 7px;
}

/* line 108, ../sass/main.scss */
#left-panel {
  opacity: 0.9;
}
/* line 110, ../sass/main.scss */
#left-panel li a {
  color: #feef99;
  font-weight: bold;
}
/* line 113, ../sass/main.scss */
#left-panel li a:hover {
  background: #393939;
}
/* line 117, ../sass/main.scss */
#left-panel li.active a:hover {
  background: #428bca;
}

/* line 122, ../sass/main.scss */
#email-explain {
  float: left;
  padding: 4px 0 0 106px;
}

/* line 127, ../sass/main.scss */
.input-group-btn > .btn.no-radius {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

/* line 134, ../sass/main.scss */
#loading {
  background: #15191f;
  opacity: 0.8;
  display: none;
  z-index: 10000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/* line 144, ../sass/main.scss */
#loading img {
  position: relative;
  margin: 3% 20%;
}

/* line 150, ../sass/main.scss */
#professors_list {
  margin-top: 7px;
}

/* line 154, ../sass/main.scss */
#confirm-button {
  color: #d9534f;
}

/* line 160, ../sass/main.scss */
.ng-enter, .ng-hide-remove {
  -webkit-transition: 0.5s ease-out all;
  transition: 0.5s ease-out all;
}

/* line 166, ../sass/main.scss */
#main-content,
.ng-show {
  -webkit-transition: 1s ease-out all;
  transition: 1s ease-out all;
}

/* line 173, ../sass/main.scss */
#main-content,
.ng-enter, .ng-hide {
  opacity: 0;
}

/* starting animations */
/* line 174, ../sass/main.scss */
.ng-enter.ng-enter-active {
  opacity: 1;
}

/* terminal animations*/
/* 
  Allow angular.js to be loaded in body, hiding cloaked elements until 
  templates compile.  The !important is important given that there may be 
  other selectors that are more specific or come later and might alter display.  
 */
/* line 181, ../sass/main.scss */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}
