<div ng-controller="CourseCtrl">
	<div class="input-group" >
		<input type="text" class="form-control" placeholder="Input course name or id" ng-model="courseNameorId">

		<!-- Search Bar -->
		<div class="input-group-btn">
			<button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">Search <span class="caret"></span></button>
			<ul class="dropdown-menu dropdown-menu-right" role="menu">
				<li><a href="" ng-click="searchById()">Search Course by Id</a></li>
				<li><a href="" ng-click="searchByName()">Search Course by Name</a></li>
				<li class="divider"></li>
				<li><a href="" ng-click="searchAll()">Search All</a></li>
			</ul>
		</div>
	</div>

	<!-- Search Results -->
	<div class="panel-group" id="search-result">
		<div class="alert alert-danger" role="alert" ng-show="courses.length == 0">No course is found. Please try again.</div>
		<div class="panel panel-info" ng-repeat="(key, course) in courses">
			<div class="panel-heading">
				<div class="panel-title">
					<h4>{{course.courseId}} - {{course.courseName}}</h4>
					<footer class="text-right">
						<a href="" data-toggle="modal" data-target="#course-description-{{key}}" data-backdrop="static">
							<span class="label label-default">Course Description</span>
						</a>
						<a href="" data-toggle="collapse" data-target="#collapse-{{key}}">
							<span class="label label-default">Show Sections<span class="caret"></span></span>
						</a>
					</footer>
				</div>
			</div>
			<div id="collapse-{{key}}" class="panel-collapse collapse">
				<div class="panel-body" ng-repeat="section in course.courseSections">
					<div>
						<p>Time: {{section.timeslot.startTime}} - {{section.timeslot.endTime}} on {{section.weekday}}</p>
						<p>Instructor: Dr. {{section.instructor.username}}</p>
						<p>Location: {{section.location}}</p>
					</div>
					<a href="" class="section-footer pull-right" ng-click="registerSection(section)"><span class="label label-info">Register this section</span></a>
					<a href="" class="section-footer pull-right" ng-click="showEnrolledStudents(section)"><span class="label label-info">Show enrolled students</span></a>
				</div>
			</div>
			<div class="modal fade" role="dialog" id="course-description-{{key}}" aria-labelledby="courseDescriptionLabel" tabindex="-1" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
							<h4>Course Description</h4>
						</div>
						<div class="modal-body">
							<p><span class="text-grey">Prerequistes: </span>{{course.prerequistes || "None"}}</p>
							<p class="text-grey">Desiption:</p>
							<p>{{course.courseDescription || "None"}}</p>
						</div>
						<div class="modal-footer">
							<button class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>