<div class="modal fade" role="dialog" id="student-details" aria-labelledby="studentDetailsLabel" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4>{{student.name}} 's Profile</h4>
			</div>
			<div class="modal-body">
				<div class="margin-bottom">
					<p>Name: {{student.name}}</p>
					<p>Student ID: {{student.studentId}}</p>
					<p>Program: {{student.program}}</p>
					<p>Phone number: {{student.phoneNumber}}</p>
					<p>Email: {{student.email}}</p>
				</div>
				<div class="panel panel-info" ng-hide="role == 'Professor'">
					<div class="panel-heading">Current Course Sections:</div>
					<table class="table table-hover my-tables">
						<tr>
							<th>Course ID</th>
							<th>Schedule</th>
							<th>Weekday</th>
							<th>Instructor</th>
						</tr>
						<tr ng-repeat="section in student.registeredSections">
							<td>{{section.courseId}}</td>
							<td>{{section.schedule.startTime | formatTime}} - {{section.schedule.endTime | formatTime}}</td>
							<td>{{section.schedule.weekday}}</td>
							<td>{{section.instructor.name}}</td>
						</tr>
					</table>
				</div>
				<div class="panel panel-success">
					<div class="panel-heading">Student Record:</div>
					<div ng-repeat="(year, terms) in student.records | orderBy">
						<h4 class="text-center text-primary"><strong>ACADEMIC YEAR {{year}}</strong></h4>
						<div ng-repeat="(term, courses) in terms | orderBy: termOrder">
							<h4 class="text-center"><strong>{{term}}</strong></h4>
							<table class="table table-hover my-tables">
								<tr>
									<th>Course ID</th>
									<th>Course name</th>
									<th>Credits</th>
									<th>Grade</th>
								</tr>
								<tr ng-repeat="course in courses">
									<td>{{course.courseId}}</td>
									<td>{{course.courseName}}</td>
									<td>{{course.credits}}</td>
									<td>{{course.grade}} ({{grades()[course.grade]}})</td>
								</tr>
							</table>
						</div>
					</div>
					<div class="panel-body">
						<p>GPA: {{student.GPA || 0 | number}}</p>
						<p>Have earn credits: {{student.earnCredits}}</p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>