<div ng-controller="StudentCtrl" ng-hide="user().role == 'Student'">
	<div class="input-group margin-bottom" >
		<input type="text" class="form-control" placeholder="Input student name or id" ng-model="studentNameorId">

		<!-- Search Bar -->
		<div class="input-group-btn">
			<button type="button" class="btn btn-warning dropdown-toggle no-radius" data-toggle="dropdown">Search <span class="caret"></span></button>
			<ul class="dropdown-menu dropdown-menu-right" role="menu">
				<li><a href="" ng-click="searchById()">Search Student by Id</a></li>
				<li><a href="" ng-click="searchByName()">Search Student by Name</a></li>
			</ul>
			<button type="button" class="btn btn-info" ng-click="searchAll()" ng-hide="user().role == 'Professor'">List All</button>
			</div>
	</div>

	<!-- Search Results -->
	<div class="panel-group" id="search-result">
		<div class="alert alert-danger" role="alert" ng-hide="errorMessage == ''">{{errorMessage | formatError}}</div>
		<div class="alert alert-success" role="alert" ng-hide="successMessage == ''">{{successMessage}}</div>
		<div class="form-group clearfix margin-bottom" ng-show="students.length > 0" style="width: 10%">
			<div for="filter" class="text-light">items per page:</div>
			<input name="filter" type="number" min="1" max="100" class="form-control" ng-model="pageSize" ng-init="pageSize = 10">
		</div>
		<!-- Results and Filters table -->
		<table class="table table-hover" ng-show="students.length > 0">
			<tr>
				<td>Student ID</td>
				<td>Name</td>
				<td>Email</td>
				<td>Program</td>
				<td></td>
			</tr>
			<tr dir-paginate="(key, student) in students | itemsPerPage: pageSize">
				<td>{{student.studentId}}</td>
				<td>{{student.name}}</td>
				<td>{{student.email}}</td>
				<td>{{student.program}}</td>
				<td>
					<a href="" ng-click="showStudentDetails(student)" ><span class="label label-warning">View details</span></a>
				</td>
			</tr>
		</table>
		<dir-pagination-controls boundary-links="true" template-url="/api/partials/pagination-tpl"></dir-pagination-controls>
	</div>
	<student-details student="chosenStudent" role="user().role"></student-details>
</div>